/*CSS RESET*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End of Reset*/

/*Start of Font Styles*/

@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-light';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-lightitalic-webfont.eot');
    src: url('../fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-lightitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-mediumitalic-webfont.eot');
    src: url('../fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}
/*End of Fonts*/

/*

START OF DESKTOP

*/

@media (min-width: 600px) {

html {
  font-size: 16px;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  /*justify-content: space-between;*/
  margin: 1rem .5rem 0 .5rem;

}

.aloha {
  align-self: flex-start;
  order:1;
}

.cart {
  order:3;
}

.aloha img {
  max-width: 130px;
}

.cart img {
  max-width: 50px;
}

.nav-links {  
  border: none;
  display: flex;
  order:2
}


.nav-links li {
  padding: 1rem 0;
  font-size: 1.05rem;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}



/*.header {
  display: flex;
  flex-wrap:nowrap;
}

.aloha {
  order: 1;
  flex:1;
}
.cart {
  order: 3;
  flex:1;
}

.nav-links {
  order: 2;
  padding: 0px;
  flex:1;
  border-top: none;
}

.nav-links li {
  display: inline-block;
}
*/

/*
Social Media
*/

.socialmedia {
  flex-direction: column;
}

}


/*


START OF MOBILE

*/

html {
  font-size: 14px;
  font-family: 'ralewaymedium';
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem .5rem 0 .5rem;

}

.aloha {
  align-self: flex-start;
  flex: 0 1 50%;
}

.cart {
  text-align: right;
  flex: 0 1 50%;
}

.aloha img {
  align-content: left;
  max-width: 130px;
}

.cart img {
  max-width: 50px;
}

.nav-links {  
  margin: .5rem auto 0 auto;
  border-top: solid #d7d7d7;
  border-width: 1px;
  width: 100%;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
}

.nav-links li {
  padding: 1rem 0;
  font-size: 1.05rem;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}

.nav-links a {
  color: #e2574c;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links a:hover {
  color: #b64036;
}



/*Description*/

.company-description {
  text-align: center;
  margin: 1.5rem auto;
}

.company-description h2 {
  font-family: 'playfair', serif;
  font-size: 2.5rem;
  margin-top: 3.7rem;
  margin-bottom: 1.5rem;
  font-style: italic;
}

.strong {
  font-style: normal;
  font-weight: 700;
}

.company-description p {
  line-height: 2.5rem;
  font-family: 'raleway-light';
  font-size: 1.15rem;
  font-weight: 100;
  margin: auto 2%;
  margin-bottom: 3.5rem;
}

/*Hero Banner*/
.main {
  background: 
          linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
          url("../images/banner-girl.png") center 5rem no-repeat,
          url("../images/flower-bkgd.jpg") center repeat-y; 
  width: auto;
  height: 400px;
  background-size: cover, 10.5rem;
  position: relative;
  text-align: center;
  color: #FFF;
}

.hero {
  padding: 150px 0 130px 0;
}

.hero h1 {
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
  text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

.hero h2 {
  font-family: 'playfair';
  font-weight: lighter;
  font-size: 2.75em;
  padding: 0 15%;
  text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}



/*HERO END*/

/*Categories*/

.category-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.cat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.rectangle {
  height: 100%;
  width: 100%;
  display: flex;
  border: solid;
  border-color: #FFF;
  border-width: 1px 0;
  flex-basis: 100%;
  justify-content: center;

}

.square {
  height: 100%;
  width: 50%;
  display: flex;
  border: solid;
  border-color: #FFF;
  border-width: 1px 0;
  flex-basis: 49%;
  justify-content: center;
  margin: 0 auto; 
}



.category-text {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(99, 99, 99, 0.9);
  align-self: center;
}

.mens {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
                    url("../images/mens-category.jpg");
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 50vw;
  margin-bottom: .4rem;
}

.trends {
  background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
              url("../images/trends-category.jpg");
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: 50vw;
}

.glasses {
  background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
              url("../images/glasses-category.jpg");
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: 50vw;
}

.sale {
  background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
              url("../images/sale-category.jpg");
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: 50vw;
}

.bags {
  background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
              url("../images/bags-category.jpg");
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: 50vw;
}

.womens {
  background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
              url("../images/womens-category.jpg");
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 50vw;
  margin-top: 0.4rem;
}

/*MOST LOVED*/
.most-loved {
  text-align: center;
  font-weight: 100;
}

.most-loved h2 {
  font-family: 'playfair';
  font-size: 2.5rem;
  margin-top: 3.25rem;
  margin-bottom: 1.5rem;
  font-style: italic;
}

/*FavoritesStart*/

.carousel-main {
  background: #FFF;
  margin-bottom: 4.5rem;
  margin-top: 4.5rem;
}

.carousel-cell {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.7;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
  transition: opacity 0.3s, transform 0.3s, filter 0.3s;
  }

.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

.flickity-prev-next-button {
  display: none;
}

.carousel-cell p {
  color: #969696;
  font-size: .75rem;
  text-transform: uppercase;
}

.carousel-cell h3 {
  color: #e2574c;
  font-family: 'playfair';
  font-size: 1.5rem;
  margin: 0.75rem;
}
  
/*CATEGORY END*/

/*OCEAN BAR*/

.update-container {

width: 100%;
height: auto;

}

.ocean-background {
  background: 
          linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
          url("../images/wave-bkgd.jpg") center, center;
  background-position: bottom;
  height: 100%;
  width: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 2.5%;
  padding-right: 2.5%;
  

}

.ocean {
  text-align: center;
  padding: 17.5% 0;
}

.update-container h2 {
  color: #FFF;
  font-family: 'playfair';
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0,0,0,.5);

}

.update-container p {
  font-family: 'Raleway-light', sans-serif;
  font-size: 1.15rem;
  line-height: 2.25rem;
  text-align: center;
  font-weight: 300;
  color: #FFF;
  margin: 0 auto;
  width: 95%;
  padding-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,.5);

}

.update-container form {
  text-align: center;
  color: white;
}

/*END OCEAN BAR*/

/*FORM*/

.email-form {
  background: #FFF;
  padding: .2rem .01rem .2rem .02rem;
  border-radius: 25px;
  width: 80%;
  margin: 0 auto;
}

.email-updates {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 0.2rem;
}

input {
  border: none;
}
input:focus {
  outline: none;

}

input[type=email] {
  font-size: 1rem;
  font-weight: 100;
  width: 150px;
}

input[type=submit] {
  font-size: 1rem;
  color: #FFF;
  background-color:#e2574c;
  border: 2rem;
  border-bottom-width: 4.5rem;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

/*FOOTER*/

.footer-container {
  background: #242424;
  color: #ffffff;
  font-family: 'playfair';
  font-size: 1rem;
  text-align: center;
  padding: 4rem 0;  
}

.footer-info p {
  width: 80%;
  margin: auto;
  padding-bottom: 0.5rem;
}

.contact {
  padding-top: 1rem;
}

.address {
  padding-top: 1.5rem;
  color: #969696;
}

.address p {
  padding-bottom: 0.5rem;
}

.contact {
  width: 80%;
  margin: auto;
}

.contact a {
  text-decoration: underline;
  color: #FFF
}

.socialmedia {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.socialmedia li {
  display: inline;
}

.socialmedia i {
  margin: 0.5rem;
}